* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  font-family: Inter, roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  background-image: url("./assets/images/bg-1.webp");
  background-size: cover;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #374151;
}
button {
  cursor: pointer;
  display: flex;
  align-items: center;
}
body {
  -webkit-font-smoothing: antialiased;
}
